
@{
    ViewBag.Title = "Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="starter-template">
        <h1>Times</h1>
        <p class="lead">Current time: @ViewBag.CurrentTime</p>
    </div>

</div><!-- /.container -->

